---
version: "2.1"
services:
  openvpn-as:
    image: openvpn/openvpn-as
    container_name: openvpn-as
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - MKNOD
    ports:
      - 943:943
      - 9443:443
      - 1194:1194/udp
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
      - APP_PASSWORD=${APP_PASSWORD}
    volumes:
       - ${APP_DATA_DIR}/umbrel-openvpn:/openvpn
    restart: always
    command: >
      sh -c '
        /usr/local/openvpn_as/scripts/openvpnas --nodaemon &
    
        for i in $(seq 1 60); do
          /usr/local/openvpn_as/scripts/sacli ConfigQuery >/dev/null 2>&1 && break
          sleep 2
        done
    
        /usr/local/openvpn_as/scripts/sacli --user "openvpn" --new_pass "$APP_PASSWORD" SetLocalPassword || true
    
        wait
      '
  redirect-http:
    image: nginx:alpine
    ports:
      - "9943:80"
    command: >
      sh -c 'printf "%s" "$(printf "server { listen 80; return 301 https://\$host:9443\$request_uri; }")" > /etc/nginx/conf.d/default.conf; nginx -g "daemon off;"'
    restart: always