---
version: "2.1"
services:
  openvpn-as:
    image: openvpn/openvpn-as
    container_name: openvpn-as
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - MKNOD
    ports:
      - 943:943
      - 9443:443
      - 1194:1194/udp
    volumes:
       - ${APP_DATA_DIR}/umbrel-openvpn:/usr/share/nginx/html:ro
    restart: always

  web:
    image: nginx:alpine
    depends_on:
      - openvpn-as
    volumes:
      - ${APP_DATA_DIR}/umbrel-openvpn/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ${APP_DATA_DIR}/umbrel-openvpn/config/.admin-pass:/usr/share/nginx/html/creds.txt:ro
    restart: always