version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: umbrel-openvpn_portal_1
      APP_PORT: 9443

  openvpn:
    image: kylemanna/openvpn:latest
    container_name: umbrel-openvpn
    cap_add: [ "NET_ADMIN" ]
    ports:
      - "1194:1194/udp"
      - "9443:9443/tcp"
    volumes:
      - ${APP_DATA_DIR}/config:/etc/openvpn
    restart: always
    environment:
      - OVPN_PORT=9443
      - OVPN_PROTO=tcp
      - OVPN_SERVER=10.8.0.0/24
      - EASYRSA_BATCH=1
      - OVPN_DEFROUTE=0
      - OVPN_NAT=1
    command: ovpn_run

  portal:
    image: nginx:alpine
    volumes:
      - ${APP_DATA_DIR}/portal:/usr/share/nginx/html:ro
    restart: always
